<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2016 IBM Corp.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-mfp-liveupdate" version="8.0.2">
    <name>IBM MobileFirst Platform Foundation LiveUpdate</name>
    <description>MFP LiveUpdate Cordova Plugin</description>
    <license>IBM</license>
    <keywords>cordova,ibm,mfp,liveupdate,mobilefirst</keywords>

    <repo>https://github.com/mfpdev/mfp-live-update-cordova-plugin.git</repo>
    <issue>https://github.com/mfpdev/mfp-live-update-cordova-plugin/issues</issue>

    <js-module src="www/LiveUpdate.js" name="LiveUpdate">
        <clobbers target="LiveUpdateManager"/>
    </js-module>

    <!-- copy ios and android native SDK sources into the cordova folders -->
    <hook type="before_plugin_install" src="scripts/getNativeSources.js" />


    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LiveUpdatePlugin">
                <param name="android-package" value="com.worklight.ibmmobilefirstplatformfoundationliveupdate.LiveUpdatePlugin"/>
                <param name="onload" value="true"/>

            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/com/worklight/ibmmobilefirstplatformfoundationliveupdate/LiveUpdatePlugin.java" target-dir="src/com/worklight/ibmmobilefirstplatformfoundationliveupdate"/>
        <source-file src="src/android/com/worklight/ibmmobilefirstplatformfoundationliveupdate/ConfigurationInstance.java" target-dir="src/com/worklight/ibmmobilefirstplatformfoundationliveupdate"/>
        <source-file src="src/android/com/worklight/ibmmobilefirstplatformfoundationliveupdate/LiveUpdateManager.java" target-dir="src/com/worklight/ibmmobilefirstplatformfoundationliveupdate"/>
        <source-file src="src/android/com/worklight/ibmmobilefirstplatformfoundationliveupdate/api/Configuration.java" target-dir="src/com/worklight/ibmmobilefirstplatformfoundationliveupdate/api"/>
        <source-file src="src/android/com/worklight/ibmmobilefirstplatformfoundationliveupdate/api/ConfigurationListener.java" target-dir="src/com/worklight/ibmmobilefirstplatformfoundationliveupdate/api"/>
        <source-file src="src/android/com/worklight/ibmmobilefirstplatformfoundationliveupdate/cache/CacheFileManager.java" target-dir="src/com/worklight/ibmmobilefirstplatformfoundationliveupdate/cache"/>
        <source-file src="src/android/com/worklight/ibmmobilefirstplatformfoundationliveupdate/cache/LocalCache.java" target-dir="src/com/worklight/ibmmobilefirstplatformfoundationliveupdate/cache"/>
    </platform>


    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="LiveUpdatePlugin">
                <param name="ios-package" value="LiveUpdatePlugin"/>
            </feature>
        </config-file>
        <source-file src="src/ios/LiveUpdatePlugin.swift"/>
        <source-file src="src/ios/API/Configuration.swift"/>
        <source-file src="src/ios/API/ConfigurationInstance.swift"/>
        <source-file src="src/ios/API/LiveUpdateManager.swift"/>
        <source-file src="src/ios/Cache/CacheFileManager.swift"/>
        <source-file src="src/ios/Cache/LocalCache.swift"/>
        <source-file src="src/ios/Logger/OCLoggerSwiftExtension.swift"/>
        <header-file src="src/ios/LiveUpdate-Bridging-Header.h"/>
    </platform>

    <dependency id="cordova-plugin-mfp" version=">=8.0.0" />
</plugin>
